.yocto-tile {
    -fx-background-color: #f0f0f0;
}

.yocto-tile-neutral {
    -fx-background-color: #f0f0f0;
}

.yocto-tile-rejector {
    -fx-background-color: #acb2d7;
}

.yocto-tile-attractor {
    -fx-background-color: #eab886;
}

.yocto-tile-friend {
    -fx-background-color: #ace0b8;
}

.yocto-tile-high {
    -fx-background-color: wheat;
}

.yocto-tile #yoctoLabel {
    -fx-font-weight: bold;
}

.yocto-tile #energyLabel {
    -fx-font-size: 8;
}
